<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.12.1" targetFramework="net452" />
  <package id="DnsClient" version="1.0.7" targetFramework="net452" />
  <package id="MongoDB.Bson" version="2.6.1" targetFramework="net452" />
  <package id="MongoDB.Driver" version="2.6.1" targetFramework="net452" />
  <package id="MongoDB.Driver.Core" version="2.6.1" targetFramework="net452" />
  <package id="System.Buffers" version="4.3.0" targetFramework="net452" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net452" />
  <package id="Dapper" version="1.50.2" targetFramework="net452" />
  <package id="Hangfire.Core" version="1.5.3" targetFramework="net452" />
  <package id="Hangfire.MySqlStorage.MysqlConnector" version="1.0.5.1" targetFramework="net452" />
  <package id="MySqlConnector" version="0.26.4" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net452" />
  <package id="CassandraCSharpDriver" version="3.5.0" targetFramework="net452" />
  <package id="lz4net" version="1.0.10.93" targetFramework="net452" />
  <package id="Microsoft.Extensions.Logging" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="1.0.0" targetFramework="net452" />
  <package id="Serilog" version="2.7.1" targetFramework="net452" />
  <package id="StackExchange.Redis" version="1.2.6" targetFramework="net452" />
</packages>